{
    "presets": ["es2015"],
    "plugins": [
        "function-composition",
        "implicit-function",
        "pipe-operator-curry",
        "transform-scala-lambda",
        "transform-async-to-bluebird",
        ["transform-runtime", {
            "regenerator": true
        }]
    ]
}
